<div class="tweet col-md-4">
  <div class="more">
    <span><%= image_tag 'arrow_top.png'%><span>
    <ul class="more_list">
      <%# <li>
        <%= link_to '記事詳細', "/tweets/#{tweet.id}", method: :get %>
      <%# </li>  %>
        <li>
      <% if user_signed_in? %>
        <%# <%= link_to "投稿者ページ", user_path(tweet.user.id) %> 


        <div class="dropdown">
          <!-- 切替ボタンの設定 -->
          <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            もっと詳しく
            <span class="caret"></span>
          </button>
          <!-- ドロップメニューの設定 -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <li><%= link_to "投稿者", user_path(tweet.user)%> </li>
            <li> <%= link_to '記事詳細', "/tweets/#{tweet.id}", method: :get %> </li>
            <%# <% if user_signed_in? && current_user.id == @tweet.user_id %> 
              <%# <li><%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
              <%# <li><%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete</li>  %>
            <%# <% end %> 
          </ul>
        </div><!-- /.dropdown -->


         <%# <%= link_to "投稿者", user_path(tweet.user), class: "btn btn-info" %> 
        </li>
      <% end %>
    </ul>
  </div>
   <% if user_signed_in? %>
    <div class="tweet__name">
      <%= link_to tweet.name, "/tweets/#{tweet.id}", method: :get %>
      <%# <%= tweet.name %> 
    </div>
   <% else %>
    <div class="tweet__name">
      <%= tweet.name %> 
    </div>
  <% end %>


  <div class = 'tweet__image'>
    <%# <div class="tweet__image" style="background-image: url(<%= tweet.image %>
    <%# <% if tweet.content.present? %>
      <%# <%= image_tag tweet.image.url, if tweet.image.present? %>
    <%# <% end %>   
    <%= image_tag tweet.image.to_s %>
  </div>
  
  <div class="tweet__text">
    <%= simple_format(tweet.text) %>
  </div>
  いいね
   (<%= tweet.liked_users.count %>)
</div>

