<% if user_signed_in? %>
  <%= link_to "投稿一覧へ", tweets_path %>
  <h2>ユーザー</h2>
  <% User.all.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォローを外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "もっと見る", user_path(user) %>
    </p>
  <% end %>
<% end %>

<div class = "top">
  <%# <p>~自由に働こう~</p> %>
  
</div>